.title {
	font-family: "Righteous";
	font-style: normal;
	font-weight: 400;
	color: #ffffff;
}

.home,
.main-page {
	background-color: #fb6b6b;
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home {
	position: initial;
	z-index: 4;
}

.main-page {
	position: relative;
	z-index: 2;
}

.home-logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 40%;
	transform: translateY(-50%);
}

.home-logo img {
	width: 55px;
	height: 65px;
}

.home-logo h3 {
	font-size: 25px;
	line-height: 31px;
}

.home-button {
	position: absolute;
	font-family: "Recursive";
	color: #d70900;
	padding: 5px 15px;
	background-color: #ffffff;
	border: 1px solid #d70900;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	top: 60%;
	transform: translateY(-50%);
}

.main-page-logo {
	position: fixed;
	z-index: 1;
	background-color: #fb6b6b;
	top: 0;
	height: 60px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.main-page-logo img {
	height: 40px;
}

.main-page-logo h3 {
	font-size: 25px;
	line-height: 31px;
}

main {
	margin-top: 86px;
	width: 95%;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.flashcard {
	position: initial;
	z-index: 2;
	width: 100%;
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
}

h3 {
	font-family: "Recursive";
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	color: #333333;
	margin-left: 2%;
}

.flashcard ion-icon {
	font-weight: 700;
	color: #333333;
	font-size: 15px;
	margin-right: 2%;
	cursor: pointer;
}

.flashcard-visible {
	width: 100%;
	background-color: #ffffd5;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	height: 80px;
	position: relative;
}

.flashcard-visible img {
	width: 20px;
	height: 15px;
	position: absolute;
	right: 2%;
	bottom: 10%;
	cursor: pointer;
}

.flashcard-visible span {
	position: absolute;
	top: 10%;
	left: 2%;
	font-family: "Recursive";
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: #333333;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 50px;
	background-color: #ffffff;
	box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.count-container {
	display: flex;
}

.count,
.done {
	font-family: "Recursive", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	color: #333333;
}

.flashcard-visible .buttons {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	height: 100%;
}

.buttons button {
	font-family: "Recursive";
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 8px;
	width: 70px;
	min-height: 25px;
	margin-bottom: 5px;
	border-radius: 5px;
	border: none;
}

.zap {
	background-color: #2fbe34;
}
.almost {
	background-color: #ff922e;
}
.tryAgain {
	background-color: #ff3030;
}

.green {
	color: #2fbe34;
	text-decoration: line-through;
}

.red {
	color: #ff3030;
	text-decoration: line-through;
}

.orange {
	color: #ff922e;
	text-decoration: line-through;
}

.checkmark-circle,
.help-circle,
.close-circle {
	background-color: #2fbe34;
}
